{% extends 'app/base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">We are a team of passionate ecommerce professionals who believe that shopping online should be easy, convenient, and enjoyable. With years of experience in the industry, we have a deep understanding of what it takes to create a successful online store.We strive to offer a wide selection of high-quality products at competitive prices, and we are always on the lookout for new and exciting products to add to our inventory. We understand that our customers have diverse needs and preferences, and we work hard to cater to those needs by offering a range of products across various categories.
                
         </p>
        </div>

        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Our mission is to provide an easy, convenient, and enjoyable shopping experience for our customers. We strive to offer a wide selection of high-quality products at competitive prices, backed by excellent customer service. We aim to make it simple for our customers to find what they need, whether they are shopping for themselves or for someone else. We are committed to building trust and loyalty with our customers through our transparency, honesty, and integrity. We believe that everyone should have access to great products and a seamless shopping experience, and we work every day to make that a reality.</p>
        </div>
    </div>
{% endblock main-content %}
